    <aside class="login-hero">
        <h2 class="hero-text">Welcome to James' Tech blog!</h2>
        <p class="hero-tagline">The place to discuss your thoughts on various web technology</p>
    </aside>