<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <title>James' Tech Blog</title>
</head>

<body>
        <header>
            <section class="centered">
                <div class="title-wrapper">
                    <a class="no-decoration" href="/">
                        <h1>James' Tech Blog</h1>
                    </a>
                </div>
                <nav class="navigation">
                    {{#if logged_in}}
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                    <a class="nav-link" href="/new-post">New Post</a>
                    <a href="#" id="logout" class="nav-link">Logout</a>

                    {{else}}
                    <a href="/login" class="nav-link">Login</a>
                    <a href="/register" class="nav-link">Register</a>

                    {{/if}}
                </nav>
            </section>
        </header>

        <main class="centered content-wrapper">
            {{{ body }}}
        </main>

        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
</body>

</html>