<section class="form-wrapper">
    <h2>Edit Post!</h2>
    <form class="form-card">

        <label for="post-title" class="form-label">Title</label>
        <input name="post-title" id="post-title" class="form-text-input" value="{{post.title}}">

        <label for="post-content" class="form-label">Content</label>
        <textarea name="post-content" id="post-content" rows="10" class="form-text-input-large">{{post.contents}}</textarea>

        <div class="button-message-row">
            <span id="message-box" class="form-message-box"></span>
            <button type="submit" id="submit" class="button green-button" data-id="{{post.id}}">Submit</button>
        </div>
    </form>

</section>
<script src="/js/messageBox.js"></script>
<script src="/js/edit-post.js"></script>