<section class="post-feed">
    {{#each posts as |post|}}
    <article>
        <h3>{{post.title}}</h3>
        
        {{{format_post post.content}}}

    </article>
    {{/each}}
</section>