<section class="login-wrapper">

    {{> login-hero}}

    <section class="login-form">
        <form id="login-form" class="form-card">
            <h3>Login</h3>
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" name="email" class="form-text-input">



            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-text-input">

            <div class="button-message-row">
                <span id="message-box" class="form-message-box"></span>
            <button type="submit" id="login-submit" class="button blue-button">Log In</button>
            </div>
        </form>
    </section>
</section>
<script src="/js/messageBox.js"></script>
<script src="/js/login.js"></script>