<section class="login-wrapper">

    {{> login-hero}}

    <section class="login-form">
        <form id="login-form" class="form-card">
            <h3>Login:</h3>
            <label for="email" class="form-label">Email:</label>
            <input type="text" id="email" name="email" class="form-text-input">



            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-text-input">


            <button type="submit" id="submit" class="form-submit-button">Log In</button>
        </form>
    </section>
</section>
<script src="/js/login.js"></script>