<section class="new-post">
    <form action="">
        
        <label for="post-title">Title</label>
        <input name="post-title" id="post-title">

        <label for="post-content">Content</label>
        <textarea name="post-content" id="post-content" rows="10"></textarea>

        <input type="submit" id="submit" value="Post!">
    </form>

</section>