<form id="registration-form" class="form"> 
    <input id="username" type="text">
    <label for="username">Username</label>

    <input id="password" type="password">
    <label for="password">Password</label>

</form>